.section-title.section-title_tariffs {
	margin-bottom: 30px;
}

.tariffs__list {
	padding: 0;
	margin: 0;
}

.tariffs__item {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	width: 250px;
	min-height: 450px;
	vertical-align: top;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 41px 25px 39px;
	text-align: center;
}

.tariffs__item:hover {
	border-color: #e8e9ed;
}

.tariffs__item::before {
	position: absolute;
	content: "";
	display: block;
	width: 34px;
	height: 34px;
	top: 40px;
	left: 50%;
	margin-left: -35px;
	background-color: #4b73b5;
	border: 18px solid #4b73b5;
	border-radius: 50%;
	background: #4b73b5 url("../../../img/spritesheet.png") no-repeat;
}

.tariffs__item_standart::before {
	background-position: -16px -613px;
}

.tariffs__item_premium::before {
	background-position: -19px -686px;
}

.tariffs__item_luxary::before {
	background-position: -17px -755px;
}

.tariffs__title {
	margin-top: 102px;
	margin-bottom: 16px;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 2.2px;
	text-transform: uppercase;
}

.tariffs__description,
.tariffs__features {
	font-size: 18px;
	line-height: 30px;
	font-weight: lighter;
}

.tariffs__description {
	margin: 0;
	margin-bottom: 5px;
}

.tariffs__features {
	padding: 0;
	list-style: none;
	text-align: left;
	margin-bottom: 18px;
}

.tariffs__features li {
	position: relative;
	padding-bottom: 5px;
	margin-left: 27px;
}

.tariffs__features li::before {
	position: absolute;
	content: "";
	display: block;
	top: 12px;
	left: -28px;
	border: 2px solid #221f1f;
	border-radius: 50%;
}

.tariffs__price {
	font-size: 54px;
	line-height: 54px;
}

.tariffs__price sub {
	font-size: 34px;
	vertical-align: 12px;
}