.team {
	margin-bottom: 7px;
}

.team__list {
	margin: 0;
	padding: 0;
	margin-left: -20px;
	list-style: none;
	text-align: center;
	font-size: 0;
}

.team__item {
	display: inline-block;
	width: 280px;
	padding: 10px;
	margin-left: 20px;
	margin-bottom: 25px;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 21px;
}

.team__image {
	position: relative;
	margin: 0 auto 18px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.team__image::before {
	content: "";
	display: block;
	width: 160px;
	height: 160px;
	background-color: #5e81bc;
	opacity: 0.6;
	transition: opacity 1s;
}

.team__image:hover::before,
.team__image:hover .team__name {
	opacity: 0;
}

.team__name {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	transition: opacity 0.2s;
}

.team__header {
	margin-bottom: 5px;
} 

.team__full-name {
	font-size: 18px;
	font-weight: bold;
}

.team__position {
	font-weight: bold;
	color: #4b73b5;
}

.team__content p {
	margin: 0;
}