@import url("icon-font.css");

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 18px;
	font-weight: lighter;
	color: #221f1f;
	font-family: 'Roboto', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.page-with-sticky-footer {
	display: table;
	width: 100%;	
}

.wrapper {
	display: table-row;
	min-width: 1100px;
	height: 100%;
	margin: 0 auto;
}

.container {
	width: 1060px;
	margin: 0 auto;
	padding: 0 20px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.visually-hidden {
	visibility: hidden;
}

.page-header {
	color: #fff;
	background-color: #4b73b5;
}

.logo {
	width: 120px;
	height: 36px;
	background: url("../img/logo.png") no-repeat;
	overflow: hidden;
}

.page-header__logo {
	float: left;
	margin-top: 20px;
}

.contacts {
	float: right;
	min-width: 170px;
	padding: 17px 0 15px;
	text-align: right;
}

.contacts__tel {
	font-size: 21px;
	font-weight: bold;
	color: inherit;
	text-decoration: none;
} 

.contacts__tel:hover {
	text-decoration: underline;
}

.contacts__timetable {
	position: relative;
	z-index: 10;
}

.contacts__timetable-title {
	font-size: 14px;
	line-height: 14px;
	text-decoration: underline;
	opacity: 0.7;
	cursor: pointer;
}

.contacts__timetable-title::before {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 40px;
}

.contacts__timetable-title:hover {
	opacity: 1;
}

.contacts__timetable-popup {
	position: absolute;
	width: 163px;
	height: 70px;
	top: 40px;
	right: 0px;
	box-sizing: border-box;
	box-shadow: 0 0 15px rgba(23, 59, 117, 0.55); 
	padding-top: 11px;
	padding-left: 20px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 23px;
	color: #221f1f;
	text-align: left;
	background-color: #fff;
	visibility: hidden;
}

.contacts__timetable-title:hover
+
.contacts__timetable-popup,
.contacts__timetable-popup:hover {
	visibility: visible;
}

.contacts__timetable-popup::before {
	content: "";
	display: block;
	position: absolute;
	top: -7px;
	right: 3px;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	background-color: #fff;
	transform: rotate(45deg);
}

.contacts__worktime {
	font-weight: bold;
	color: #1c5bc3;
}

/*================боковая панель==============*/

.side-bar {
	float: left;
	width: 170px;
	margin-top: 43px;	
}

.main-navigation__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-navigation__item {
	margin-bottom: 27px;
}

.main-navigation__item a {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2.25px;
	color: #4b73b5;
	vertical-align: baseline;
}

.main-navigation__item a:hover,
.main-navigation__item_active a {
	color: inherit;
}

.main-navigation__item a::before {
	display: inline-block;
	width: 20px;
    /*height: 20px;*/
	margin-right: 16px;
	font-family: "icomoon";
	font-weight: normal;
	font-size: 19px;
	vertical-align: -3px;
}

.main-navigation__index-link::before {
	content: "\e901";
}

.main-navigation__comments-link::before {
	content: "\e904";
	text-indent: -1px;
}

.main-navigation__team-link::before {
	content: "\e905";
	text-indent: -3px;
}
 
/*===============основное содержание===============*/

.content {
	float: right;
	width: 880px;
}

.content_main-page {
	margin-top: 10px;
	margin-bottom: 60px;
}

.content_inner-page {
	margin-top: 40px;
	margin-bottom: 64px;
}

.promo-image {
	position: relative;
	width: 900px;
	height: 299px;
	background: url("../img/promo-bg.jpg") no-repeat center;
	overflow: hidden;
}

.promo-image__animated-block {
	position: absolute;
	top: 3px;
	right: -105px;
}

/*==================блок тарифы==================*/

.tariffs {
	margin-top: 14px;
	margin-bottom: 54px;
}

.section-title {
	margin: 0;
	font-size: 49px;
	line-height: 49px;
	font-weight: bold;
}

.section-title_tariffs {
	margin-bottom: 30px;
}

.tariffs__list {
	padding: 0;
	margin: 0;
}

.tariffs__item {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	width: 250px;
	min-height: 450px;
	vertical-align: top;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 41px 25px 39px;
	text-align: center;
}

.tariffs__item:hover {
	border-color: #e8e9ed;
}

.tariffs__item::before {
	position: absolute;
	content: "";
	display: block;
	width: 34px;
	height: 34px;
	top: 40px;
	left: 50%;
	margin-left: -35px;
	background-color: #4b73b5;
	border: 18px solid #4b73b5;
	border-radius: 50%;
	background: #4b73b5 url("../img/spritesheet.png") no-repeat;
}

.tariffs__item_standart::before {
	background-position: -16px -613px;
}

.tariffs__item_premium::before {
	background-position: -19px -686px;
}

.tariffs__item_luxary::before {
	background-position: -17px -755px;
}

.tariffs__title {
	margin-top: 102px;
	margin-bottom: 16px;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 2.2px;
	text-transform: uppercase;
}

.tariffs__description,
.tariffs__features {
	font-size: 18px;
	line-height: 30px;
	font-weight: lighter;
}

.tariffs__description {
	margin: 0;
	margin-bottom: 5px;
}

.tariffs__features {
	padding: 0;
	list-style: none;
	text-align: left;
	margin-bottom: 18px;
}

.tariffs__features li {
	position: relative;
	padding-bottom: 5px;
	margin-left: 27px;
}

.tariffs__features li::before {
	position: absolute;
	content: "";
	display: block;
	top: 12px;
	left: -28px;
	border: 2px solid #221f1f;
	border-radius: 50%;
}

.tariffs__price {
	font-size: 54px;
	line-height: 54px;
}

.tariffs__price sub {
	font-size: 34px;
	vertical-align: 12px;
}

/*============блок новости==============*/

.news {
	margin-left: -5px; /* ещё нестыковка макета */
}

.news__section-title {
	margin-bottom: 43px;
}

.article-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.news__list {
	margin-bottom: 29px;
}

.article__image {
	float: left;
	width: 163px;
	height: 163px;
	margin-top: 5px;
	border-radius: 50%;
	overflow: hidden;
}

.article__image_comments {
	width: 160px;
	height: 160px;
}

.article__content {
	margin-left: 180px;
}

.article__header {
	margin-bottom: 9px;
}

.article__date {
	font-size: 14px;
	font-weight: lighter;
	color: #656464;
}

.article__title {
	margin: 0;
	padding-top: 6px;
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
}

.article__text {
	margin: 0;
	padding: 0;
	line-height: 30px;
	font-weight: lighter;
}

.article-list__item {
	min-height: 222px;
	padding-top: 25px;
	padding-bottom: 20px;
	border-bottom: 2px solid #f5f5f5;
	box-sizing: border-box;
}

.article-list__item:last-child {
	border-bottom: none;
}

/*===============пагинатор=============*/

.news__paginator {
	margin-left: 274px;
}

.paginator {
	font-size: 14px;
	line-height: 25px;
}

.paginator__indicator,
.paginator__prev-link,
.paginator__next-link,
.paginator__list,
.paginator__item {
	display: inline-block;
	vertical-align: baseline;
}

.paginator__indicator {
	padding-right: 13px;
	font-weight: lighter;
	color: #656464;
}

.paginator__list {
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: bold;
	text-align: center;
}

.paginator__item {
	width: 25px;
	height: 25px;
	margin-left: -3.3px;
}

.paginator__item:first-child {
	/*margin-left: 0;*/
}

.paginator__link {
	display: block;
	text-decoration: none;
	color: inherit;
}

.paginator__link:not([class$="current-link"]):hover {
	color: #1c5bc3;
}

.paginator__prev-link,
.paginator__next-link {
	position: relative;
	width: 25px;
	height: 25px;
	text-indent: -9000px;
}

.paginator__prev-link::before,
.paginator__next-link::before {
	position: absolute;
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	top: 8px;
	left: 8px;
	border-left: 1px solid #221f1f;
	border-bottom: 1px solid #221f1f;
}

.paginator__prev-link::before {
	transform: translateX(-2px) rotate(45deg);
}

.paginator__next-link::before {
	transform: translateX(-6px) rotate(-135deg);
}

.link_disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.3;
}

.paginator__current-link {
	pointer-events: none;
	cursor: default;
	color: #fff;
	background-color: #1c5bc3;
	border-radius: 4px;
}

/*==============подвал===============*/

.page-footer {
	padding: 12px 0 9px;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	background-color: #4b73b5;
}

.page-footer__col1 {
	width: 33%;
}

.page-footer__col2 {
	float: left;
	width: 34%;
}

.author {
	float: left;
	font-weight: lighter;
}

.author p {
	margin: 0;
}

.author a {
	font-weight: bold;
	color: inherit;
	text-decoration-color: rgba(255, 255, 255, 0.5);
}

.author b {
	font-weight: bold;
}

.page-footer__col3 {
	min-width: 155px;
	max-width: 33%;
}

.page-footer__social {
	float: right;
	display: table;
	margin-top: 5px;
	font-weight: bold;
}

.social__list {
	margin: 0;
	padding: 0;
	padding-top: 6px;
	list-style: none;
}

.social__item {
	display: inline-block;
	width: 20px;
	margin-right: 6.5px;
}

.social__link {
	position: relative;
	display: block;
	text-indent: -3000px;
}

.social__link::before {
	position: absolute;
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background: #d2def3 url("../img/spritesheet.png") no-repeat;
	border-radius: 50%;
}

.social__vk::before {
	background-position: -16px -562px;
}

.social__fb::before {
	background-position: -13px -365px;
}

.social__g-plus::before {
	background-position: -17px -416px;
}

.social__tw::before {
	background-position: -15px -514px;
}

.social__mail::before {
	background-position: -16px -465px;
}

.social__link:hover::before {
	background-color: #fff;
}

.page-footer__logo {
	margin: 8px auto 0;
}

/*===============comments.html=======*/

.breadcrumbs {
	margin-bottom: 20px;
	opacity: 0.8;
}

.breadcrumbs__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.breadcrumbs__item {
	display: inline-block;
}

.breadcrumbs__item::after {
	content: "/";
	display: inline-block;
	vertical-align: middle;
	font-style: italic;
	font-weight: lighter;
}

.breadcrumbs__item_active::after {
	display: none;
}

.breadcrumbs__link {
	font-size: 14px;
	color: #1c5bc3;
	font-style: italic;
	font-weight: lighter;
}

.breadcrumbs__link:hover,
.breadcrumbs__item_active a {
	color: inherit;
}

.section-title_comments {
	margin-bottom: 12px;
}

.comments__list {
	margin-bottom: 16px;
}

.comments__paginator {
	margin-left: 219px;
}

.booking-info {
	background: #4bb56b url("../img/pattern.jpg") repeat center;
	margin-bottom: 58px;
}

.container_booking {
	width: 640px;
}

.booking-info__content {
	padding: 41px 15px 39px 0;
	margin: 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: lighter;
	color: #fff;
}

.booking-info__content a {
	font-weight: bold;
	color: inherit;
}

.booking-info__tel {
	text-decoration: none;
}

.booking-info__tel:hover {
	text-decoration: underline;
}

.comment {
	width: 560px;
	margin: 0 auto 50px;
	padding: 45px 70px 51px;
	border-radius: 3px;
	background-color: #f5f5f5;
}

.comment__section-title {
	margin-bottom: 21px;
}

.comment__form {
	font-size: 14px;
}

.form-comment__col-left {
	float: left;
	width: 269px;
}

.form-comment__col-right {
	float: right;
	width: 269px;
}

.form-comment__label_block span,
.form-comment__label {
	display: inline-block;
	margin-bottom: 7px;
}

.form-comment__label_block {
	margin-bottom: 19px;
}

.form-comment__input-txt,
.form-comment__textarea {
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid transparent;
	outline: none;
	font-weight: inherit;
}

.form-comment__input-txt {
	padding: 13px 10px;
}

.form-comment__textarea {
	padding: 7px 10px;
}

.form-comment input[type^="text"]::-webkit-input-placeholder {
	color: #221f1f;
	opacity: 0.5;
}

.form-comment__textarea::-webkit-input-placeholder {
	color: #221f1f;
}

.form-comment__input-txt:focus,
.form-comment__textarea:focus {
	border-color: rgb(75, 115, 181);
}

.form-comment__textarea {
	margin-bottom: 13px;
	min-height: 90px;
	resize: vertical;
}

.form-comment__foto-radiobtn-group {
	padding: 0;
	margin: 0;
	border: none;
}

.form-comment__radiobtn-legend {
	margin-bottom: 10px;
}

.form-comment__label-radio {
	position: relative;
	margin-left: 25px;
	margin-right: 16px;
}

.form-comment__input-radio {
	display: none;
}

.form-comment__label-radio::before {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	top: 0px;
	left: -25px;
	border: 1px solid rgb(201, 201, 201);
	border-radius: 50%;
	background-image: -moz-linear-gradient( 90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
}

.form-comment__input-radio:checked
+
.form-comment__label-radio::after {
	position: absolute;
	content: "";
	top: 6px;
	left: -19px;
	border: 4px solid rgb(75, 115, 181);
	border-radius: 50%;
}

.form-comment__input-radio:checked
+
.form-comment__label-radio::before {
	border-color: rgb(75, 115, 181);
	background-image: -moz-linear-gradient( -90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
}

.form-comment__input-radio:checked
+
.form-comment__label-radio {
	color: #1c5bc3;
}

.form-comment__btn {
	position: relative;
	left: calc(100% - 154px);
	top: 2px;
	/*float: right;*/
	width: 154px;
 	height: 45px;
 	border-radius: 3px;
 	border: none;
	line-height: 45px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
 	background-color: #4b73b5;
}

.form-comment__btn-title::after {
	display: inline-block;
	width: 15px;
	content: "\e901";
	padding-left: 12px;
	font-family: 'icomoon';
	font-weight: normal;
	font-size: 14px;
	vertical-align: -4%;
}

.form-comment__btn:hover {
	color: #4b73b5;
	background-color: #fff;
}