.breadcrumbs {
	margin-bottom: 20px;
	opacity: 0.8;
}

.breadcrumbs__list {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.breadcrumbs__item {
	display: inline-block;
	padding-right: 2px; 
}

.breadcrumbs__link {
	font-size: 14px;
	color: #1c5bc3;
	font-style: italic;
	font-weight: lighter;
}

.breadcrumbs__link::after {
	content: "/";
	display: inline-block;
	padding-left: 4px; 
	vertical-align: middle;
	font-size: inherit;
	font-style: italic;
	font-weight: lighter;
}

.breadcrumbs__item_active a::after {
	display: none;
}

.breadcrumbs__link:hover,
.breadcrumbs__item_active a {
	color: inherit;
}