.main-navigation__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-navigation__item {
	margin-bottom: 27px;
}

.main-navigation__item a {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2.25px;
	color: #4b73b5;
	vertical-align: baseline;
	transition: color 1s;
}

.main-navigation__item a:hover,
.main-navigation__item_active a {
	color: inherit;
}

.main-navigation__item:not([class$="active"]) 
a:hover::before {
	animation: impulse 0.5s cubic-bezier(.76,.25,.35,1.83) 0.1s;
}

.main-navigation__item a::before {
	display: inline-block;
	width: 20px;
	margin-right: 16px;
	font-family: "icomoon";
	font-weight: normal;
	font-size: 19px;
	vertical-align: -3px;
}

.main-navigation__index-link::before {
	content: "\e901";
}

.main-navigation__comments-link::before {
	content: "\e904";
	text-indent: -1px;
}

.main-navigation__team-link::before {
	content: "\e905";
	text-indent: -3px;
}