.promo-image {
	position: relative;
	width: 900px;
	height: 299px;
	background: url("../../../img/promo-bg.jpg") no-repeat center;
	overflow: hidden;
}

.promo-image__animated-block {
	position: absolute;
	top: 3px;
	top: -20px;
	right: -105px;
	right: -620px;
	-webkit-transform-origin: right bottom;
	    -ms-transform-origin: right bottom;
	        transform-origin: right bottom;
	-webkit-animation: flight 2s forwards 0.3s;
	        animation: flight 2s forwards 0.3s;
}